<a href="https://colab.research.google.com/github/sidds4474/Play-Store-App-Review-Analysis/blob/main/Play_Store_App_Review_Analysis_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data_import=pd.read_csv("Play Store Data.csv")
data_import

                                                     App  ...         Android Ver
0         Photo Editor & Candy Camera & Grid & ScrapBook  ...        4.0.3 and up
1                                    Coloring book moana  ...        4.0.3 and up
2      U Launcher Lite â€“ FREE Live Cool Themes, Hide ...  ...        4.0.3 and up
3                                  Sketch - Draw & Paint  ...          4.2 and up
4                  Pixel Draw - Number Art Coloring Book  ...          4.4 and up
...                                                  ...  ...                 ...
10836                                   Sya9a Maroc - FR  ...          4.1 and up
10837                   Fr. Mike Schmitz Audio Teachings  ...          4.1 and up
10838                             Parkinson Exercices FR  ...          2.2 and up
10839                      The SCP Foundation DB fr nn5n  ...  Varies with device
10840      iHoroscope - 2018 Daily Horoscope & Astrology  ...  Varies with device

[10841 rows x 13 columns]

In [ ]:
data_import1=pd.read_csv("User Reviews.csv")
data_import1

                               App  ... Sentiment_Subjectivity
0            10 Best Foods for You  ...               0.533333
1            10 Best Foods for You  ...               0.288462
2            10 Best Foods for You  ...                    NaN
3            10 Best Foods for You  ...               0.875000
4            10 Best Foods for You  ...               0.300000
...                            ...  ...                    ...
64290  Houzz Interior Design Ideas  ...                    NaN
64291  Houzz Interior Design Ideas  ...                    NaN
64292  Houzz Interior Design Ideas  ...                    NaN
64293  Houzz Interior Design Ideas  ...                    NaN
64294  Houzz Interior Design Ideas  ...                    NaN

[64295 rows x 5 columns]

Warning: total number of rows (64295) exceeds max_rows (20000). Limiting to first (20000) rows.

In [ ]:
data_import.head(-5)

                                                     App  ...   Android Ver
0         Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                    Coloring book moana  ...  4.0.3 and up
2      U Launcher Lite â€“ FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                                  Sketch - Draw & Paint  ...    4.2 and up
4                  Pixel Draw - Number Art Coloring Book  ...    4.4 and up
...                                                  ...  ...           ...
10831                           payermonstationnement.fr  ...    4.0 and up
10832                                           FR Tides  ...    2.1 and up
10833                                        Chemin (fr)  ...    2.2 and up
10834                                      FR Calculator  ...    4.1 and up
10835                                           FR Forms  ...    4.0 and up

[10836 rows x 13 columns]

In [ ]:
data_import.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [ ]:
data_import1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB