<a href="https://colab.research.google.com/github/sidds4474/Play-Store-App-Review-Analysis/blob/main/Play_Store_App_Review_Analysis_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Function to read data from google drive

def read_data(filename):
  data=pd.read_csv(filename)
  return data

In [4]:
filename = '/content/drive/MyDrive/Play Store App Review Analysis - Capstone Project/Play Store Data.csv'
data=read_data(filename)
data.head(-5)

                                                     App  ...   Android Ver
0         Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                    Coloring book moana  ...  4.0.3 and up
2      U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                                  Sketch - Draw & Paint  ...    4.2 and up
4                  Pixel Draw - Number Art Coloring Book  ...    4.4 and up
...                                                  ...  ...           ...
10831                           payermonstationnement.fr  ...    4.0 and up
10832                                           FR Tides  ...    2.1 and up
10833                                        Chemin (fr)  ...    2.2 and up
10834                                      FR Calculator  ...    4.1 and up
10835                                           FR Forms  ...    4.0 and up

[10836 rows x 13 columns]

In [5]:
def get_stats(data):
  print('\n')
  print(data.info())
  print('\n')
  print('Shape of dataFrame is {} \n'.format(data.shape))
  print('\n')
  print('Missing Values are:\n')
  print(data.isnull().sum())
  print('\n')
  print('Data Types of feature are: \n')
  print(data.dtypes)

In [7]:
get_stats(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB
None


Shape of dataFrame is (10841, 13)



Missing Values are:

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64


Data Types of feature are:

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [6]:
data[data['Rating']>5]

                                           App Category  ...  Current Ver Android Ver
10472  Life Made WI-Fi Touchscreen Photo Frame      1.9  ...   4.0 and up         NaN

[1 rows x 13 columns]

In [7]:
data.iloc[10472,1:]=data.iloc[10472,1:].shift(1)

In [8]:
data.iloc[10472,:]

App               Life Made WI-Fi Touchscreen Photo Frame
Category                                              NaN
Rating                                                1.9
Reviews                                              19.0
Size                                                 3.0M
Installs                                           1,000+
Type                                                 Free
Price                                                   0
Content Rating                                   Everyone
Genres                                                NaN
Last Updated                            February 11, 2018
Current Ver                                        1.0.19
Android Ver                                    4.0 and up
Name: 10472, dtype: object

In [9]:
data['Last Updated']=pd.to_datetime(data['Last Updated'])
data['Last Updated'].dtype

dtype('<M8[ns]')

In [10]:
data['Year Added']=data['Last Updated'].dt.year
data['Month Added']=data['Last Updated'].dt.month

In [11]:
data.head(-5)

                                                     App  ... Month Added
0         Photo Editor & Candy Camera & Grid & ScrapBook  ...           1
1                                    Coloring book moana  ...           1
2      U Launcher Lite – FREE Live Cool Themes, Hide ...  ...           8
3                                  Sketch - Draw & Paint  ...           6
4                  Pixel Draw - Number Art Coloring Book  ...           6
...                                                  ...  ...         ...
10831                           payermonstationnement.fr  ...           6
10832                                           FR Tides  ...           2
10833                                        Chemin (fr)  ...           3
10834                                      FR Calculator  ...           6
10835                                           FR Forms  ...           9

[10836 rows x 15 columns]

In [12]:
# Type of service people like to use Free or Paid ?
data['Type'].isna().sum()

1

In [13]:
data.dropna(subset=['Type'],inplace=True)

In [14]:
data['Type'].isna().sum()

0

In [15]:
data['Type'].unique()

array(['Free', 'Paid'], dtype=object)

In [16]:
labels=data['Type'].value_counts().index
values=data['Type'].value_counts().values

In [17]:
!pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)

In [18]:
import plotly.express as px

In [19]:
px.pie(names=labels,values=values)

In [20]:
df1=data[data['Type']=='Free']
df2=data[data['Type']=='Paid']

In [27]:
free=df1['Year Added'].value_counts().reset_index()

In [28]:
free.columns=['year','count']
free

   year  count
0  2018   7004
1  2017   1684
2  2016    710
3  2015    377
4  2014    150
5  2013     81
6  2012     21
7  2011     12
8  2010      1

In [29]:
paid=df2['Year Added'].value_counts().reset_index()

In [30]:
paid.columns=['year','count']
paid

   year  count
0  2018    345
1  2017    183
2  2016     94
3  2015     82
4  2014     59
5  2013     29
6  2012      5
7  2011      3